<!-- <div *ngIf="bloques.length > 0">
  <form (ngSubmit)="onSubmit(formData)">
    <div *ngFor="let bloque of bloques">
      <div class="form-group">
        <label [for]="bloque.name">{{ bloque.label }}</label>
        <input 
          [type]="bloque.type" 
          [name]="bloque.name" 
          [(ngModel)]="formData[bloque.name]"
          class="form-control" 
          [id]="bloque.name" 
          required
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>


</div> -->


    <app-combo-box></app-combo-box>

    <br>
    <br>
    <br>
<div *ngIf="bloques.length > 0" class="container-fluid">
  <form (ngSubmit)="onSubmit(formData)" class="needs-validation" novalidate>
    <!-- Se envía el objeto raíz al componente recursivo -->
    <app-bloque 
      [bloque]="{ blocks: bloques, display_mode: displayMode }"
      [formData]="formData">
    </app-bloque>
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
  </form>
</div>







